In [11]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression 
from sklearn import svm
import seaborn as sns
from sklearn import metrics

In [2]:
file = pd.read_csv('Social_Network_Ads.csv')
file

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [6]:
x, y = file.iloc[:,:-1], file['Purchased']

In [3]:
from sklearn.model_selection import KFold 
from sklearn.model_selection import cross_val_score

In [7]:
scaler = StandardScaler()
model = scaler.fit(x)
kf_x = model.transform(x)

In [10]:
# lr
score_lr = cross_val_score(LogisticRegression(), kf_x, y, scoring='accuracy', cv = KFold(n_splits=5, shuffle = True, random_state= 42), n_jobs = -1)
print(f"Accuracy: {np.mean(score_lr)}")

Accuracy: 0.8450000000000001

In [12]:
#Support Vector Machine
clf = svm.SVC(kernel='linear')
score_SVM = cross_val_score(clf, kf_x, y, scoring='accuracy', cv = KFold(n_splits=5, shuffle = True, random_state= 42), n_jobs = -1)
print(f"Accuracy: {np.mean(score_SVM)}")

Accuracy: 0.8474999999999999

In [13]:
# Naive Bayes
from sklearn.naive_bayes import GaussianNB
score_gaussianNB = cross_val_score(GaussianNB(), kf_x, y, scoring='accuracy', cv = KFold(n_splits=5, shuffle = True, random_state= 42), n_jobs = -1)
print(f"Accuracy: {np.mean(score_gaussianNB)}")

Accuracy: 0.8899999999999999

In [14]:
# Decision Tree
from sklearn import tree
score_tree = cross_val_score(tree.DecisionTreeClassifier(), kf_x, y, scoring='accuracy', cv = KFold(n_splits=5, shuffle = True, random_state= 42), n_jobs = -1)
print(f"Accuracy: {np.mean(score_tree)}")

Accuracy: 0.85

In [15]:
# RandomForest
from sklearn.ensemble import RandomForestClassifier
score_randomForest = cross_val_score(RandomForestClassifier(), kf_x, y, scoring='accuracy', cv = KFold(n_splits=5, shuffle = True, random_state= 42), n_jobs = -1)
print(f"Accuracy: {np.mean(score_randomForest)}")

Accuracy: 0.8924999999999998